// Brand colors
// -------------------------

@brand: #e94e4e;
@brand-primary:         @brand;
@brand-secondary:       #53595E;

@darkGray: #555;
@lightGray: #eee;

// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";


// Typography
// -------------------------

@sans-serif: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
@boldWeight: 600;
@lightWeight: 200;
@baseFontSize: 18px;
@imgurl: "../img/";

@fontColor: @brand-secondary;
@muted: lighten(@fontColor, 30%);
@linkColor: @brand;



// Buttons
// -------------------

@buttonColor: @muted;
@buttonHover: darken(@buttonColor, 10);
@miscBg: @lightGray;


// Layout
// -------------------
@basemargin: 40px;

@content-width: 1000px;


@container-lg: (@content-width + @grid-gutter-width);
@content-lg: @content-width;
@content-md: 940px;
@content-sm: 100%;
@content-xs: 100%;

@lg: 1200px;
@md: 992px;
@sm: 768px;
@xs: 480px;


// Misc
// ----------

@border: 1px solid #eeeeee;
