.content-info { }


.site-footer {
  .footer-nav {
    display: inline-block;
    ul { display: inline-block; }
    li {
      line-height: 50px;
    }
  }
}
.brand-logo-invert {
  display: inline-block;
  width: 110px;
  height: 50px;
  background-image: url("@{imgurl}souvvi_logo_invert.png");
  background-position: center center;
  background-repeat: no-repeat;
  .text-hide();
}
