// NAVBAR
// ======


.navbar {
  border-bottom: 0;
  background: rgba(255,255,255,0.9);
  .centered();

  @media (min-width: @sm) {
    padding-left: @basemargin / 2;
    padding-right: @basemargin / 2;
  }

  border-top: @border;
  border-bottom: @border;
  .navbar-collapse {
    //
  }
  .collapse.in {
    border-bottom: @border;
  }
  a,
  .open>a,
  .open>a:focus,
  .open>a:hover {
    color: @fontColor;
    &:hover {
      background-color: @lightGray;
    }
  }
  .open>a,
  .open>a:focus,
  .open>a:hover {
    background-color: @lightGray;
  }
  .dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    border: none;
    background-color: @lightGray;
    @media (max-width: @sm) {
      background-color: @lightGray;
    }
  }

  .dropdown-menu > li > a {
      &:hover {
        background-color: darken(@lightGray, 10%);
      }
  }


  .active > a {
      background-color: @lightGray;
  }
  .navbar-toggle {
    margin-right: 10px;
    border: none;
  }


}

.admin-bar .navbar-fixed-top {
  top: 32px;
}

.mobile-inline {
  @media (max-width: @xs) {
    li {
      display: inline-block;
      float: left;

    }
  }
}


.hamburger {
  width: 24px;
  height: 4px;
  margin-top: 5px;
  .transition( all  0.3s );
  position: relative;
  background-color: rgba(255, 255, 255, 0);

  &:before, &:after {
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    background-color: @darkGray;
    position: absolute;
    z-index: -1;
    .transition( all  0.3s );
  }

  // auki


  &:before {
    background-color: @darkGray;
    top: 0px ;
    .lh-transform(rotate(-45deg));
  }
  &:after {
    background-color: @darkGray;
    top: 0px ;
    .lh-transform(rotate(45deg));
  }

  //kiinni
  .collapsed & {
    background-color: @darkGray;
     &:before {
       top: -8px;
       .lh-transform(rotate(0deg));
     }
     &:after {
       top: 8px;
       .lh-transform(rotate(0deg));
     }
   }
}



.brand-logo {
  background-image: url("@{imgurl}souvvi_logo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-right: 15px;
  width: 110px;
  &:hover {
    background-color: transparent !important;
  }
  display: none;
  .navbar-fixed-top & {
    display: block;
  }
}

.navbar-fixed-top {
  width: 100%;
  margin: 0;
}

.menu-home a {
  .home & {
    display: none;
  }
  &:extend(.hidden-xs all);
  &:extend(.brand-logo all);
  .text-hide();
  &:hover {
    background-color: transparent !important;
  }
}

