.hentry {
  margin-bottom: @basemargin*1.5;
  float: left;
  width: 100%;
  border-top: @border;

  &:first-of-type {
    border-top: none;
  }

  > footer,
  > .comments-wrapper {
    &:extend(.content-max);
    margin-left: auto;
    margin-right: auto;
    display: block;

    padding-left: @basemargin/2;
    padding-right: @basemargin/2;
    @media screen and (min-width: @sm ) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
  h2 {
    color: @brand;
    margin-bottom: 10px;
  }

  > header {
    margin-top: @basemargin*2;
    margin-bottom: @basemargin;
    text-align: center;
  }
}

.hentry figure,
.hentry .wp-caption {
  float: none;
  margin-top: @basemargin;
  margin-bottom: @basemargin;
  margin-left: auto;
  margin-right: auto;

  > a, > img {
    display: block;


    &.full-width, &.super {
      width: 100%;
      margin: 0;
      &+figcaption {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.entry-content p {
  font-size: 1em;
  line-height: 1.8em;
  margin-top: @basemargin;
  margin-bottom: @basemargin;

  text-align: justify;
  overflow-x: hidden;
}

.entry-content > * {
  &:extend(.content-max);

  margin-left: auto;
  margin-right: auto;
  display: block;

  padding-left: @basemargin/2;
  padding-right: @basemargin/2;
  @media screen and (min-width: @sm ) {
    padding-left: 0;
    padding-right: 0;
  }
}

.entry-content > figure {
  padding-left: 0;
  padding-right: 0;
}


.entry-content {
  .full {
    width: 100%;
    max-width: none;
    text-align: center;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  section + section {
    margin-top: @basemargin;
  }

  .half, .third {
    padding-bottom: 1em;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
    p + p {
      margin-top: @basemargin;
    }
  }
  @media screen and (min-width: @sm ) {
    .half, .third {
      padding-bottom: 0;
      display: inline-block;
    }
    .half {
      width: 50%;
      padding-right: 1em;
      + .half {
        padding-right: 0px;
        padding-left:  1em;
      }
    }

    .third {
      width: 33%;
      padding-right: 1em;
      + .third {
        padding-right: 0em;
        padding-left: 1em;
      }
    }
  }// media

}




.entry-content {
  figcaption.caption,
  .wp-caption-text,
  .gallery-caption {
    background: @miscBg;
    padding: @basemargin/4 @basemargin/1.5;
  }



  section.half {
     padding-bottom: @basemargin/2;
  }

  @media (min-width: @sm) {
    section.half {
      margin-bottom: 0;
      padding-right: @basemargin/2;

    }
    section.half + section.half {
      padding-right: 0;
      padding-left: @basemargin/2;
    }

  }
  section + p {

  }


}

.hentry footer {
    border-top: @border;
    padding-top: @basemargin / 2;
    padding-bottom: @basemargin / 2;
    .clearfix();
    clear: both;
}

.some-buttons {
  text-align: center;
}


.sticky {
  background: @lightGray;
}


.post-nav {
  &:extend(.content-max);
  margin-left: auto;
  margin-right: auto;
}
